.sidebar {
  float: bottom;
  padding: 15px;
  width: 100%;
  height: 350px;
  border-color: black;
  background-size: 550px 800px;
  background-color: #F8F8F6;
  background-image: url(../img/plant.jpeg);
  /*background-image: url(../img/IMG-1030.jpg);*/
  background-position: center;
  background-repeat: no-repeat;
  transition: all 450ms;
}

.col-lg-7 {
    position: relative;
    width: 100%;
    min-height: 1px;
    /* padding-right: 15px; */
    padding-left: 15px;
}